[submodule "Pitch-Perfect"]
	path = Pitch-Perfect
	url = https://github.com/jovito-royeca/Pitch-Perfect
[submodule "MemeMe"]
	path = MemeMe
	url = https://github.com/jovito-royeca/MemeMe
[submodule "On-The-Map"]
	path = On-The-Map
	url = https://github.com/jovito-royeca/On-The-Map
[submodule "Virtual-Tourist"]
	path = Virtual-Tourist
	url = https://github.com/jovito-royeca/Virtual-Tourist.git
[submodule "Cineko"]
	path = Cineko
	url = https://github.com/jovito-royeca/Cineko.git
