[submodule "Pitch-Perfect"]
	path = Pitch-Perfect
	url = https://github.com/jovito-royeca/Pitch-Perfect
[submodule "MemeMe"]
	path = MemeMe
	url = https://github.com/jovito-royeca/MemeMe
[submodule "On the Map"]
        path = On-The-Map 
        url = https://github.com/jovito-royeca/On-The-Map
